<div id="index">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 dialogue-container">
				<%= render 'main/modularVoice' %>
			</div>
			<div class="col-sm-8 action-container">
				<div class="menu out">
					<div class="row">
						<div class="col-sm-4">
							<div class="menu-item">
								<img class="icon" src="/assets/icon_map.png" />
								<h4>Mapping</h4>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="menu-item">
								<img class="icon" src="/assets/icon_sun.png" />
								<h4>Weather</h4>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="menu-item">
								<img class="icon" src="/assets/icon_resources.png" />
								<h4>Resources</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="menu-item">
								<img class="icon" src="/assets/icon_translate.png" />
								<h4>Translate</h4>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="menu-item">
								<img class="icon" src="/assets/icon_message.png" />
								<h4>Messaging</h4>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="menu-item">
								<img class="icon" src="/assets/icon_priorities.png" />
								<h4>Priorities</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="menu-item">
								<img class="icon" src="/assets/icon_user.png" />
								<h4>My Account</h4>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="menu-item">
								<img class="icon" src="/assets/icon_information.png" />
								<h4>Information</h4>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="menu-item">
								<img class="icon" src="/assets/icon_hierarchy.png" />
								<h4>Management</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="menu-item">
								<img class="icon" src="/assets/icon_camera.png" />
								<h4>Claims</h4>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="menu-item">
								<img class="icon" src="/assets/icon_health.png" />
								<h4>Emergency</h4>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="menu-item">
								<img class="icon" src="/assets/icon_search.png" />
								<h4>Search</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="notifications-container">
				<div class="notifications">
					<h3>Notifications</h3>
					<div class="notifications-list">
						<div class="notification active">
							<div class="info">
								<h4>Medical Evac Set</h4>
								<p>Evacuation corridor has been est...</p>
							</div>
							<div class="time">
								<p><span>15</span>mins</p>
							</div>
						</div>
						<div class="notification">
							<div class="info">
								<h4>Triage Set Up</h4>
								<p>Medical triage set up on scene</p>
							</div>
							<div class="time">
								<p><span>22</span>mins</p>
							</div>
						</div>
						<div class="notification">
							<div class="info">
								<h4>FDNY Responding</h4>
								<p>NY Fire Department on the way...</p>
							</div>
							<div class="time">
								<p><span>27</span>mins</p>
							</div>
						</div>
						<div class="notification">
							<div class="info">
								<h4>Hospital Notified</h4>
								<p>Local hospitals are aware of...</p>
							</div>
							<div class="time">
								<p><span>36</span>mins</p>
							</div>
						</div>
						<div class="notification">
							<div class="info">
								<h4>Coordinating EMS</h4>
								<p>EMS from multiple localities...</p>
							</div>
							<div class="time">
								<p><span>58</span>mins</p>
							</div>
						</div>
						<div class="notification">
							<div class="info">
								<h4>Casualties Reported</h4>
								<p>Reports of casualties from the...</p>
							</div>
							<div class="time">
								<p><span>72</span>mins</p>
							</div>
						</div>
					</div>
				</div>
				<div class="priorities">
					<h3>Priorities</h3>
					<div class="priorities-list">
						<% Priority.all.each_with_index do |p,i| %>
							<div class="priority">
								<h4><%= p.name %></h4>
								<p><%= truncate(p.details, length: 27) %></p>
								<div class="num"><%= i+1 %></div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	var outputDialogue = true
	var currentUsername = "<%= current_user.username.to_s %>"

	// start waves
	embedWaves()

</script>