<div id="messages">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Messages</h1>
				<h3>Create a new Message</h3>
				<%= render 'messages/form' %>
				<h3>All Message</h3>
				<div class="message-list">
					<% @messages.each do |m| %>
						<div class="message <% if m.read == false && m.recipient == current_user.id %>unread<% end %>" s='<%= m.sender %>' r='<%= m.recipient %>' mid='<%= m.id %>'><%= m.message %></div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="message-window">

				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	var messagesResponse = ""

	$(".message-list .message").on("click", function() {

		// clear messages
		$(".message-window .message").remove()

		// if this is unread, make it read now that we've read it!
		if($(this).hasClass("unread")) {
			$(this).removeClass("unread")
			$.get("/setmessageread?mid=" + $(this).attr("mid"))
		}

		var s = $(this).attr("s")
		var r = $(this).attr("r")

		// get messages from sender and recipient
		$.get('/getdirectmessages?recipient=' + r + '&sender=' + s, function() {

			// get thread from messages-response html and convert to json for preparation
			var msgArray = JSON.parse($(".message-window .messages-response").text())
			
			// take messages response JSON and add to window
			for (var i = 0; i <= msgArray.length - 1; i++) {
				var html = '<div class="message">' + msgArray[i][1] + '</div>'
				$(".message-window").append(html)
			}

			// clear messages response
			$(".messages-response").remove()
		})
	})
</script>