<%= form_for @incident do |f| %>
	
	<div class="row">
		<div class="col-sm-4">
			<%= f.text_field :name, class: "form-control", placeholder: "Incident Name" %>
		</div>
		<div class="col-sm-4">
			<%= f.text_field :location, class: "form-control", placeholder: "Incident Location" %>
		</div>
		<div class="col-sm-4">
			<%= f.text_field :managers, class: "form-control", placeholder: "Incident Managers" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<%= f.text_field :impacted, class: "form-control", placeholder: "Individuals Impacted from Incident" %>
		</div>
		<div class="col-sm-6">
			<%= f.text_field :casualties, class: "form-control", placeholder: "Incident Casualties" %>
		</div>
	</div>
	
	<%= f.submit %>

<% end %>