<div id="incidents">
	<div class="container">
		<div class="row">
			<div class='col-sm-10 col-sm-offset-1'>
				<h1>Incidents</h1>
				<%= render 'form' %>

				<% @incidents.each do |f| %>
					<a class="incident" href="/incidents/<%= f.id.to_s %>">
						<h3><%= f.name %></h3>
						<h4><%= f.location %></h4>
						<p><%= f.managers %></p>
					</a>

				<% end %>
			</div>
		</div>
	</div>
</div>